.form {
  height: 600px;
  width: 1000px;
  margin: 20px 0;
  padding: 30px 50px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.form h2 {
  margin: 15px 0;
}

.form table {
  margin: 10px 0 0 0;
  border-collapse: collapse;
}

.form table tr {
  height: 40px;
  border-bottom: 1px solid #aaaaaa;
}

.form table thead tr th {
  background: #ccccff;
}

.form table tbody tr td {
  width: 150px;
  text-align: center;
  background: #eeeeff;
}

.form table input[type="button"] {
  margin: 0 0 0 5px;
  padding: 5px;
  color: #8b0000;
  background: #eeeeff;
  box-shadow: 0 0 2px gray;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.form table input[type="button"]:hover {
  background: white;
}

.add,
.save {
  width: 150px;
  height: 50px;
  background: #ccccff;
  border-radius: 10px;
  cursor: pointer;
  opacity: .6;
}

.add:hover,
.save:hover {
  opacity: 1;
}

.form p {
  margin: 15px 0 0 0;
}