<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>教学工作量管理系统</title>
  <link rel="shortcut icon" href="../img/schoolbadge.png">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/k.css">
</head>

<body>
  <%- include("./header.html") %>
  <main>
    <%- include("./left-main.html") %>
    <div class="right-main">
      <div id="form">
        <h2>你好！<%= user %></h2>
        <table>
          <thead>
            <tr>
              <th>课程类别</th>
              <th>班级数量</th>
              <th>合班系数</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((v) => { %>
            <tr>
              <td><%= v.type %></td>
              <td><%= v.class %></td>
              <td><%= v.k %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <%- include("./footer.html") %>
  <script src="../js/k.js"></script>
</body>

</html>