<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>教学工作量管理系统</title>
    <link rel="shortcut icon" href="../img/schoolbadge.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/root.css">
  </head>

<body>
  <%- include("./header.html") %>

  <main>
    <a href="/roots/ks" class="root-a">合班系数管理</a>
    <a href="/roots/workloads" class="root-a">工作量管理</a>
  </main>

  <%- include("./footer.html") %>
</body>

</html>