<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>教学工作量管理系统</title>
  <link rel="shortcut icon" href="../img/schoolbadge.png" type="image/x-icon">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/tiametable.css">
</head>

<body>
  <%- include("./header.html") %>
  <main>
    <%- include("./left-main.html") %>
    <div class="right-main">
      <form class='form'>
        <h2>课程表页面</h2>
        <h2>你好, <%= user %></h3>
        <table>
          <thead>
            <tr>
              <th>课程类别</th>
              <th>课程名称</th>
              <th>班级数量</th>
              <th>选课人数</th>
              <th>学时/周数/天数</th>
              <th>备注</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((v) => { %>
              <tr>  
                <td><%= v.type %></td>
                <td><%= v.name %></td>
                <td><%= v.class %></td>
                <td><%= v.number %></td>
                <td><%= v.time %></td>
                <td><%= v.msg %></td>
                <td><input type="button" value="修改"><input type="button" value="删除"></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <p><input type="button" value="添加课程" class='add' id='add'></p>
      </form>
      <%- include('./newtimetable.html') %>
    </div>
  </main>
  <%- include("./footer.html") %>
  <script src='../js/timetable.js'></script>
</body>

</html>