<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>教学工作量管理系统</title>
  <link rel="shortcut icon" href="../img/schoolbadge.png">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/workload.css">
</head>

<body>
  <%- include("./header.html") %>
  <main>
    <%- include("./left-main.html") %>
    <div class="right-main">
      <form id="form">
        <h2>你好！<%- user %></h2>
        <table>
          <thead>
            <tr>
              <th>工作量类别</th>
              <th>工作量名称</th>
              <th>班级数量</th>
              <th>工作量学时</th>
              <th>工作量人数</th>
              <th>合班系数</th>
              <th>工作量</th>
              <th>备注</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" name="type"></td>
              <td><input type="text" name="name"></td>
              <td><input type="text" name="cclass"></td>
              <td><input type="text" name="time"></td>
              <td><input type="text" name="number"></td>
              <td><input type="text" name="k"></td>
              <td><input type="text" name="workload"></td>
              <td><input type="text" name="msg"></td>
            </tr>
          </tbody>
        </table>
        <p><input type="button" value="保存" id="save"></p>
        <h3>填表须知：</h3>
        <p>1、指导毕业设计的人数写在“选课人数”一栏,成教毕设需要注明周数和具体专业，如05网夜，14周；</p>
        <p>2、本科导师、学科竞赛获奖、教师实验室坐班等填在“其他”栏中；</p>
        <p>3、只有专业任选课填写“选课人数”一栏，必修和限选课不用填写；</p>
        <p>4、校内实习请写清实际发生天数；</p>
        <p>5、科技创新活动、学科竞赛等需提供支撑材料（如证书等），否则不予认证；</p>
        <p>6、如有其它工作量请到教学办核实。</p>
      </form>
    </div>
  </main>
  <%- include("./footer.html") %>
  <script src="../js/workload.js"></script>
</body>

</html>